/* 
font-family: 'Alfa Slab One', cursive;
font-family: 'Permanent Marker', cursive;
font-family: 'Saira Stencil One', cursive;
 */

.background {
    background-color: #bfe0e975;
}

.eb-navlogo {
    font-family: 'Permanent Marker', cursive;
    font-size: 30px;
    color: #143e49;
}

.nav-link {
    font-family: 'Permanent Marker', cursive;
}

.emily-webdev-contain {
    width: 100%;
    display: inline-flex;
    flex-direction: row wrap;
    justify-content: flex-start;
    cursor: default;

}
.emily-webdev {
    /* width: 70%; */
    font-size: 70px;
    font-family: 'Alfa Slab One', cursive;
    color: #143e49;
}

.emily-passion {
    width: 70%;
    font-family: 'Permanent Marker', cursive;
    font-size: 35px;
    color: #343A40;
    display: inline;
}

.flex-letters {
    display: flex;
    justify-content: flex-start;
    flex-wrap: nowrap;
}

.flex-words {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
}

#projectVisable {
    padding: 1rem;
    font-size: 20px;
    width: 70%;
    background: #c99b61;
    border: 3px solid #cec3b7;
    font-family: 'Permanent Marker', cursive;
    margin-left: 2rem;
}

#projectVisable:hover {
    background: #438496;
    border: 3px solid #143e49;
}

.eb-space-between {
    justify-content: space-between;
    flex-direction: row wrap;
    display: flex;
}

.emily-tagline {
    width: 80%;
    font-family: 'Alfa Slab One', cursive;
    border-left: #343A40 5px solid;
    color: #143e49;
    font-size: 40px;
    /* color: #143e49; */
}

.text-animation {
    font-family: 'Alfa Slab One', cursive;
    font-size: 70px;
    color: #143e49;
    padding: 1px;
}

.eb-hidden {
    display: none;
}

.projects-h1 {
    width: 100%;
    font-size: 70px;
    font-family: 'Alfa Slab One', cursive;
    color: #343A40;
}

/* Modals */
    .modalTitle {
        font-family: 'Permanent Marker', cursive;
        font-size: 2rem;
        display: flex;
        color: #343A40;
    }

    .listTechTitle {
        font-family: 'Permanent Marker', cursive;
        margin-top: 1rem;
        font-size: 2rem;
        color: #143e49;
    }

    .modalDescription {
        font-family: 'Courier New', Courier, monospace;

    }

    .techGroup {
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
    }

    .listTech {
        margin: 4px;
        background: #9ab3b9;
        color: white;
        padding: 4px;
        font-family: 'Courier New', Courier, monospace;
        font-size: 1rem;
        border-radius: 4px;
        height: 2rem;
    }

    .modal-footer {
        display: flex;
        justify-content: center;
    }
/* ===== */

.text-enhance {
    color: #438496;
}


/* ABOUT */
    .versionTitle {
        font-family: 'Permanent Marker', cursive;
        display: block; 
        text-align: center;
    }

    .versionP {
        font-family: 'Courier New', Courier, monospace;
        font-size: 20px;
        text-align: center;
    }

    .aboutVersions {
        display: flex;
        flex-direction: column;
        justify-content: center;
        background: #9ab3b9;
        height: 400px;
        cursor: pointer;
        border: 1px solid #143e49;
        margin: 3px;
    }

    /* #longVersion {
        background: #a4a2a1
    }

    #shortVersion {
        background: #9ab3b9
    } */

    #longVersion:hover {
        background: #c99b61
    }

    #shortVersion:hover {
        background: #c99b61
    }
/* === */



#projects-row {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-around;
}

.projects-display {
    overflow: hidden;
    height: 300px;;
    width: 300px;
    margin: 5px;
    margin-bottom: 15px;
    padding: 0px;
    cursor: pointer;
}

.borderKey {
    display: flex;
    justify-content: center;
    font-size: 16px;
    font-family: 'Courier New', Courier, monospace;
}

.keyBox {
    background: #ffffff60;
    border-radius: 5px;
}

.borderFS {
    border-left: solid 10px #438496;
}

.borderFE {
    border-left: solid 10px #143e49;
}

.borderBE {
    border-left: solid 10px #a4a2a1;
}


.projects-display:hover {
    border: solid 10px #c99b61

}

.project-image {
    width: 100%;
}

.card-body {
    position: absolute;
    text-align: center;
}

.project-button {
    position: relative;
    top: 0px;
}

/* ABOUT MODALS */
.eb-aboutContent p {
    font-family: 'Courier New', Courier, monospace;
}

.eb-aboutContent {
    padding: 2rem;;
}


/* FOOTER DETAILS */

.footerEscape {
    margin-bottom: 20vh;
}

.footerEmily {  
    border-top: 7px solid white;
    position: relative;
    height: 100px;
    margin-top: -100px;
    clear: both;
}

.code-link p {
    padding-top: 5px;
}

.footer-text-eb {
    font-size: 14px;
    font-family: 'Permanent Marker', cursive;
    letter-spacing: 0.1em;
    color: #9A9DA1;
}

.img-group {
    background: #343a40;
    margin-bottom: 1rem;
    padding-top: .5rem;
    margin-left: 1rem;
    margin-right: 1rem;
    border-radius: 2%;
    width: 40%;
}
    
.socialLinks {
    width: 30px;
}



